<!DOCTYPE HTML>
</> CSS
<link rel="stylesheet" href="styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About Tyamese</title>

    <link rel="stylesheet" href="styles.css">
</head>
/* Type Selector */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f1ea;
    color: #2c3e50;
}
/* Class Selector */
.main-header {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
    margin: 20px;
    border: 3x solid #d4a373;
}

/* ID Selector */
#career-goals {
    background-color: white;
    padding: 25px;
    margin: 20px;
    border: 2px solid #d4a373;
}

/* Class Selector */
.hobbies-section {
    background-color: white;
    padding: 25px;
    margin: 20px;
    border: 2px solid #d4a373;
}

<nav>{
    background-color: #d4a373;
    padding: 15px;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li {
    color: #2c3e50;
    font-weight: bold;
}

h2 {
    color: #2c3e50;
}

h3 {
    color: #d4a373;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}
</nav>